.head {
    padding-bottom: 30px;
    padding-right: 30px;
    background-image: url("/src/assets/back1.jpg");
    transition: transform 0.3s ease;
}
.head:hover{
    transform: scale(1.05);
}

#head-title-row {
    margin-left: 5%;
    margin-top: 5%;
}

#head-subtitle-row {
    margin-left: 30px;
}

#head-title {
    font-size: 42px;
    font-weight: bold;
    color: #333;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
}

#head-subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
}