.send-button {
    border-radius: 7px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-image: url("/src/assets/back1.jpg");
    cursor: pointer;
}

.send-button:hover {
    background-color: rgb(158, 158, 244);
}

.delete-button {
    margin-left: 40px;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(250, 136, 136);
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(237, 104, 137);
}

.remove-button {
    z-index: 100;
    position: relative;
    left: 50px;
    top: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 14%;
    height: 40px;
    font-size: 18px;
    background-color: rgb(250, 136, 136);
    cursor: pointer;
}

.remove-button:hover {
    background-color: rgb(236, 110, 110);
}

.cart-help-text {
    color:rgb(237, 104, 137);
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
}

.cart-main-text {
    color:rgb(19, 113, 35);
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
}

#cart-page > .row > div > .card {
    border: 2px groove black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}