#logout-button {
    margin-top: 20px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(187, 187, 250);
    cursor: pointer;
}

#logout-button:hover {
    background-color: rgb(158, 158, 244);
}