#nav{
    width: 100%;
    background-image: url("/src/assets/back2.jpg");
}

.navbar-button {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.navbar-switch {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.navbar-button:hover {
    background-color: rgb(220, 220, 220);
}

.navbar-switch:hover {
    background-color: rgb(220, 220, 220);
}

#disabled-cart {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9e9b9b;
    background-color: rgb(152, 152, 152);
    cursor: default;
}